<h1>{{ name }}</h1>
<body>
    <form action="{% url 'consume_api:search_result' %}" method="get">
        <input type="text" name="query" placeholder="Buscar personaje...">
        <button type="submit" name="button"> Buscar</button>
    </form>
</body>
<img src={{ img }}>

<li> Ocupacion: </li>
{% for oc in occupation %}
<ul> {{ oc }} </ul>
{% endfor %}
<li> Estado: {{ status }}</li>
<li> Sobrenombre: {{ nickname }}</li>
<li> Temporadas de breaking bad en las que aparece:</li>
{% for ap in appearance%}
<ul><a href="{% url 'consume_api:breakingseason' ap %}"> {{ ap }}</a></ul>
{% endfor %}
<li> Actor: {{ portrayed }}</li>
<li> Series en las que aparece: {{ category }}</li>
<li> Temporadas de better call saul en las que aparece:</li>
{% for aps in better_call_saul_appearance%}
<ul><a href="{% url 'consume_api:saulseason' aps %}"> {{ aps }}</a></ul>
{% endfor %}
<li> Citas:
    {% for quote in quotes%}
     <ul>{{ quote.quote }}</ul>
     {% endfor %}
</li>

